<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SI - SKS PENS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="landing2/img/fav.png" rel="icon">
  <link href="landing2/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="landing2/vendor/aos/aos.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="landing2/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <link href="boxicons/css/boxicons.min.css" rel="stylesheet">

  <link href="landing2/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="landing2/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="landing2/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="landing2/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!--<h1 class="logo me-auto"><a href="index.html">SI-SKS</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto"><img src="landing2/img/12345.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">Features</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>SI - SKS WEB APPLICATION PROJECT</h1>
          <h2>SI - SKS merupakan platform berbasis website yang digunakan untuk mempermudah Kaprodi Teknik Informatika
            dalam menentukan pembebanan Dosen</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/login" class="btn-get-started scrollto">Login</a>
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="landing2/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
          <p>SI - SKS menyediakan berbagai macam fitur yang dapat diakses dan digunakan oleh pengguna Kepala Program
            Studi Teknik Informatika Politeknik Elektronika Negeri Surabaya dalam menentukan pembebanan Dosen dengan
            lebih mudah dan efisien.</p>
        </div>

        <div class="row">
          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-user"></i></div>
              <h4><a href="">Beban dan Profil Dosen</a></h4>
              <p>Menampilkan pembebanan jam dan list daftar terkait beban yang diterima sesuai aturan
                untuk Dosen Teknik Informatika Politeknik Elektronika Negeri Surabaya
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-bookmark-alt-minus"></i></div>
              <h4><a href="">Kurikulum</a></h4>
              <p>Menampilkan daftar kurikulum yang digunakan untuk Prodi Teknik Informatika dengan terdapat
                pilihan untuk menambahkan dan mengubah data
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-package"></i></div>
              <h4><a href="">Paket Kurikulum</a></h4>
              <p>Menampilkan mata kuliah beserta detail SKS dan jam yang ditetapkan berdasarkan program studi,
                kelas, dan kurikulum yang dipilih saat mencari data tersebut
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-history"></i></div>
              <h4><a href="">Histori Kurikulum</a></h4>
              <p>Menyimpan data terkait penambahan dan perubahan kurikulum yang akan digunakan pada halaman paket
                kurikulum untuk setiap kelas dan semester
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-briefcase"></i></div>
              <h4><a href="">Bidang Keahlian</a></h4>
              <p>Menampilkan bidang keahlian dari Dosen Teknik Informatika dengan terdapat
                pilihan untuk menambahkan dan mengubah data bidang keahlian
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-book"></i></div>
              <h4><a href="">Mata Kuliah</a></h4>
              <p>Menampilkan mata kuliah beserta detail SKS, jam, dan bidang keahlian dengan terdapat
                pilihan untuk menambahkan dan mengubah data mata kuliah
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-chalkboard"></i></div>
              <h4><a href="">Proses Pembebanan</a></h4>
              <p>Menampilkan Dosen kelas A dan B setiap mata kuliah pada kelas dan semester yang dicari serta
                akan otomatis muncul untuk kurikulum yang sedang digunakan
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-archive-out"></i></div>
              <h4><a href="">Export Data</a></h4>
              <p>Memudahkan Kaprodi IT dalam melakukan export data pembebanan Dosen yang
                akan diberikan kepada BAAK untuk pembuatan jadwal perkuliahan

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>

          <div class="mb-5 col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-toggle-right"></i></div>
              <h4><a href="">Dark Mode</a></h4>
              <p>Menampilkan kontras layar perangkat menjadi lebih baik karena cahaya akan diminimalisir, sehingga lebih
                baik untuk kesehatan mata pengguna
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>SI - SKS terdiri dari seorang Product Owner dan empat anggota tim Developer yang memiliki tugas sesuai
            dengan role atau posisinya masing - masing untuk mengembangkan website sesuai Product Goal.</p>
        </div>

        <div class="row mb-3 justify-content-center">
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/landing/Tim/ayin.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Madani Sofi Arina Hanif</h4>
                <span>Product Owner</span>
                <p>Bertanggung jawab atas pengelolaan Product Backlog dan Product Backlog Item untuk Developer</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/madani_ayin"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/madani-sofi-arina-hanif-5a80111bb/"> <i
                      class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/landing/Tim/ade.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ade Bayu Budiono</h4>
                <span>UI/UX Designer</span>
                <p>Menentukan desain tampilan dan bagaimana website dapat beroperasi berdasarkan hasil riset</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/ade-bayu-budiono-45a560200/"> <i
                      class="ri-linkedin-box-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/landing/Tim/rayhan.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Rayhan Munir Wibowo</h4>
                <span>Backend Developer</span>
                <p>Merancang website dari sisi server yang berhubungan dengan logika dan database</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/raymandude439"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/rayhan-wibowo-5183aa200"> <i class="ri-linkedin-box-fill"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/landing/Tim/arif.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Muhammad Arief Darmawan</h4>
                <span>Fullstack Developer</span>
                <p>Merancang mekanisme interaksi pengguna dan server side serta memastikan website bekerja
                  optimal</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/"><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/landing/Tim/farhan.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Farhan Izzuddin Az zufar</h4>
                <span>Frontend Developer</span>
                <p>Mengolah desain menjadi website baik dari segi tampilan maupun fungsionalitas</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href="https://www.instagram.com/"><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Hubungi kami melalui kontak yang telah tersedia atau dapat langsung mengunjungi alamat yang tertera di
            bawah beserta Google Maps yang dapat mempermudah dalam pencarian alamatnya.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Jl. Raya ITS – Kampus PENS Sukolilo</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sisks.pens@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+62 896 4324 7294</p>
              </div>

              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            </div>

          </div>

          <div class="col-lg-7 d-flex align-items-stretch">
            <div class="info">
              <iframe
                src="https://maps.google.com/maps?q=Pascasarjana%20Terapan%20PENS&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            </div>

          </div>



        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top" style="background-color: #f9f9f9;">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SI - SKS</h3>
            <p>
              POLITEKNIK ELEKTRONIKA NEGERI SURABAYA<br>
              Jl. Raya ITS – Kampus PENS Sukolilo<br>
              Surabaya, Kodepos 60111<br>
              INDONESIA <br>
              <strong>Phone:</strong> +62 31 594 7280<br>
              <strong>Phone:</strong> +62 896 4324 7294<br>
              <strong>Email:</strong> sisks.pens@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Features</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://pensfest.com/visitor/register">FAQ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Best Features</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Proses Pembebanan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Paket Kurikulum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Bidang Keahlian</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Export Data</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Dark Mode</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Jika ingin mendapatkan informasi lebih lanjut dapat mengikuti kami melalui media sosial yang tersedia</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>SI-SKS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="landing2/vendor/aos/aos.js"></script>
  <script src="landing2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="landing2/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="landing2/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="landing2/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="landing2/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="landing2/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="landing2/js/main.js"></script>

</body>

</html>